/* a wrapper element that tracks the mouse vertically */
.vjs-makerpoint
{
    max-width: 12px;
    max-height: 12px;
    width: 70%;
    height: 70%;
    cursor: pointer;
    -webkit-appearance: none;
    border: solid;
    border-radius: 100%;
    background-color: white;
    border: 3px solid white;
    position: absolute;
    -webkit-transition-property: background-color; /* Safari */
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-property: background-color;
    transition-duration: 0.5s;
    bottom: 8px;
}
.vjs-makerpoint:hover
{
  background-color: blue; 
}
